<div class="form">
  <fieldset>
     <legend>Enter in the Trip Report Data for the <%= @route.name %></legend>
     <%= render 'form' %>
  </fieldset>
</div>

<%= link_to 'Back', trip_reports_path %>
