<h1>How to Contribute</h1>
<p>There are many ways to contribute to Summit Search. You can contribute trip reports, route information, albums and single stand along photos. If you are interested in contributing to the site infrastructure which includes mountains, lakes, glaciers, parks and other places, send me an <a href="mailto:ecoulthard@gmail.com">email</a> and I will upgrade your account to Editor status. Please <a href="mailto:ecoulthard@gmail.com">email</a> me as well if you have any questions. If you have suggestions then please submit them to the site using the <%= link_to "suggestions forum", forem.forum_path(21) %>.</p>

Before you can contribute you need to sign up for an account. See these
<a href="https://docs.google.com/presentation/pub?id=1h4xP28gGFnp2uDUsaQNfgLFF3-fipMr1kcZRttiPCHg&start=false&loop=false&delayms=3000">slides</a> for information about signing up.
<br>
Read these 
<a href="https://docs.google.com/presentation/pub?id=1ghNGE_WuvNr2IdCYn-dktHJn_Kz9vGK5XIkBiVL-KYA&start=false&loop=false&delayms=3000">slides</a> for instructions about submitting an album.
<br>
Read these 
<a href="https://docs.google.com/presentation/pub?id=1npdN4oVzRNuPvZzAQ0OupPQ_VE2xIiTCcUP57TyIvhs&start=false&loop=false&delayms=3000">slides</a> for instructions about how to submit a trip report with photos.
<br>
Read these 
<a href="https://docs.google.com/presentation/pub?id=1BiWBmRmEQFbPjuskFry5eBUg3s_2ajiK195OMwJyuYI&start=false&loop=false&delayms=3000">slides</a> for instructions about how to submit a single photo.
<br>
<!--<p>The user submitted content of Summit Search is accessible by contributing members only. This includes photos, trip reports, ascent routes, road and trail bulletins and the site forum. A contributing member is someone who has recently contributed something to the site. This could be photos, trip reports, ascent routes, trails, mountains, lakes, roads, trail bulletins or parks. Each contribution you make to the site will grant you an amount of full access depending on the type of contribution you make. For example trip reports will give you longer access to the site than a road bulletin. Links to insert photos, routes and trip reports are located in every mountain, lake, park and trail page as well as many others. To submit a photo or trip report you need to navigate to a page describing something nearby such as a mountain, lake or trail. Once on the page of something nearby you can click on the insert link for photos or trip reports. A page will appear that you need to fill in to submit the photo or trip report. Here is a breakdown of the amount of access time you get for each type of contribution. Note that I will likely change this from time to time to search for more efficient settings.</p>

<p>For the first half year of this sites existence I have decided to give everyone free access to the sites photos and trip reports. This ends on October 1 2011 unless you have submitted content to the site in which case your extra contribution time will be added starting at October 1 2011.</p>
-->

<!--
<ul>
  <li>New mountain, lake, glacier, pass, campground ... etc: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_FEATURE_CONTRIBUTION_AMOUNT) -> each</li>
  <li>New country,province,state,park,mountain range or icefield: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_AREA_CONTRIBUTION_AMOUNT) -> each</li>
  <li>New road, trail, river, ascent route, approach route, expedition: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_ROUTE_CONTRIBUTION_AMOUNT) -> each</li>
  <li>New trip report: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_TRIP_CONTRIBUTION_AMOUNT) -> each</li>
  <ul>
    <li>Trip report with at least <- User::NEW_TRIP_2ND_CONTRIBUTION_CUTOFF -> recommendations: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_TRIP_2ND_CONTRIBUTION_AMOUNT) -> extra</li>
    <li>Trip report with at least <- User::NEW_TRIP_3RD_CONTRIBUTION_CUTOFF -> recommendations: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_TRIP_3RD_CONTRIBUTION_AMOUNT)-> extra</li>
  </ul>
  <li>New photo: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_PHOTO_CONTRIBUTION_AMOUNT) -> each</li>
  <ul>
    <li>Photo with at least <- User::NEW_PHOTO_2ND_CONTRIBUTION_CUTOFF -> recommendations: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_PHOTO_2ND_CONTRIBUTION_AMOUNT)-> extra</li>
    <li>Photo with at least <- User::NEW_PHOTO_3RD_CONTRIBUTION_CUTOFF -> recommendations: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_PHOTO_3RD_CONTRIBUTION_AMOUNT)-> extra</li>
  </ul>
  <li>New road or trail bulletin: <- distance_of_time_in_words(Time.now, Time.now + User::NEW_BULLETIN_CONTRIBUTION_AMOUNT) -> each</li>
</ul>

<p>The maximum access time we allow is <- distance_of_time_in_words(Time.now, Time.now + User::MAX_ACCESS_TIME) ->. The reason we put a maximum access time is to prevent someone from getting way too much access time in the event we accidentaly use a much too generous system.</p>
-->
