<div>
  <% if subject.version > 1 %>  
    <span class="no-wrap"><b>Version <%= subject.version %></b></span>
  <% end %>   

  <% if user_is_admin? && subject.update_id? %>  
    <span class="no-wrap">
      - <b>Last Updated By:</b>
      <%= link_to subject.updater.display_name, subject.updater %>
       on <%= subject.updated_at.to_s %>
    </span>
  <% end %>

  <% if defined?(subject.references) && !subject.references.blank? %>
    <div class="clear"></div>
    <span>
      <b>References:</b>
      <%= sanitize(subject.references.gsub("<p>", "<div>").gsub("</p>", "</div>")) %>
    </span>
  <% end %>
</div>
