<td class="showHover colorOnHover clickable">
  <% unless album.nil? %>
    <%= link_to truncate(album.title, :length => 150), album %><br>
    <% if defined?(show_user) && show_user %>
      <span class="text no-wrap">By: <%= truncate album.user.display_name, :length => 25 %></span>
    <% end %>
    <%= render :partial => 'albums/hover', :locals => {:album => album} %>
  <% end %>
</td>
